<% include header %>
<h1 style="text-align: center; margin: 3rem;"> Armas</h1>
  </table>
  <table class="table table-hover" style="margin-top: 3rem;">
    <thead>
      <tr>
        <th scope="col">Imagen</th>
        <th scope="col">Nombre</th>
        <th scope="col">Información</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><img src="../recursos/pala.png" alt="Pala" style="width: 2rem; height: 2rem;"></th>
        <td>Lancer</td>
        <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>

      </tr>
      <tr>
        <th scope="row"><img src="../recursos/cuchillo.png" alt="Pala" style="width: 2rem; height: 2rem;"></th>
        <td>Chancla</td>
        <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>

      </tr>
      <tr>
        <th scope="row"><img src="../recursos/bate.png" alt="Pala" style="width: 2rem; height: 2rem;"></th>
        <td>Espada</td>
        <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
      </tr>
    </tbody>
  </table>
<% include footer %>