<% include header %>
<h1 style="text-align:center; margin-top: 3rem;">Clases de zombies</h1>

<div class="card" style="width: 20rem; float: right; margin:4rem;">
    <img class="card-img-top" src="../recursos/zombie.png" alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><h3 style="text-align:center;"> Zombie</h3></p>
    </div>
  </div>

  <div class="card" style="width: 20rem; float: right; margin:4rem;">
    <img class="card-img-top" src="../recursos/javo.png" alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><h3 style="text-align:center;">Stranger</h3></p>
    </div>
  </div>

  <div class="card" style="width: 20rem; float: right; margin:4rem;">
    <img class="card-img-top" src="../recursos/ustanak.png" alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><h3 style="text-align:center;">Bumter</h3></p>
    </div>
  </div>

<% include footer %>