<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Express - Libro de visitas</title>
    <link rel="stylesheet" href="../recursos/bootstrap.min.css">
    <link rel="stylesheet" href="../recursos/style.css">
    </head>
    <body>
        <a href="/"><img src="../recursos/logo.png" alt="Logo" style="width:180px; height:59px; margin:25px;"></a>
        
        
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
              <a class="nav-link active" href="/clases">Clases</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/armas">Armas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/victimas">Victimas</a>
            </li>
          </ul>
    </body>